<!DOCTYPE html>
<html lang="en">


<style>
body {
    background-color: rgb(189, 174, 249);
    text-align: center;
    font-family:  Corbel, Avenir, sans-serif;
}
</style>


<head>
    <meta name="title" content="TWLMenu-extras API">
    <meta name="author" content="LightSage, modified by lifehackerhansol">
    <meta property="og:title" content="TWLMenu-extras API">
    <meta property="og:type" content="website">
    <meta property="og:description" content="An actual TWLMenu-extras API">
    <meta property="og:url" content="https://twlmenu-extras.lifehacker101.net/">
    <meta property="og:image" content="">
    <title>TWLMenu-extras API</title>
</head>

<h1>TWLMenu-extras API</h1>
<body>
    You can find docs for this API at <a href="/docs">https://twlmenu-extras.lifehacker101.net/docs</a><br>
</body>
<footer><body>Like this project? Drop a star on the original project at <a href="https://github.com/LightSage/UDB-API">GitHub</a>!

<br>Support the original author, LightSage, over at <a href="https://ko-fi.com/lightsage">Ko-Fi</a>!</br></body></footer>


</html>